
[submodule "references/Motion-Planning-on-CARLA"]
	path = references/Motion-Planning-on-CARLA
	url = https://github.com/paulyehtw/Motion-Planning-on-CARLA.git
[submodule "references/carla"]
	path = references/carla
	url = https://github.com/asap-report/carla.git
[submodule "references/carla_sim"]
	path = references/carla_sim
	url = https://github.com/Nanda-Kishore-V/carla_sim.git
[submodule "references/SelfDrivingCarsControlDesign"]
	path = references/SelfDrivingCarsControlDesign
	url = https://github.com/enginBozkurt/SelfDrivingCarsControlDesign.git
